table {
    border-collapse: collapse;
    position: relative;
    text-align: left;
    width: 100%;
}

th, td {
    padding: 2px;
}

th {
    background: lightgray;
    vertical-align: bottom;
    position: sticky;
    top: 0;
}

.title{
    text-decoration: underline;
}
.optional,
.comment {
    display: block;
    margin-top: 5px;
    background-color: lightgray;
}
.optional {
    background-color: darkgray;
}

.center {
    text-align: center;
}