table {
    border-collapse: collapse;
    position: relative;
    text-align: left;
    width: 100%;
}

tr.gray th {
    background: lightgray;
}

th, td {
    padding: 2px;
}

th {
    vertical-align: bottom;
    position: sticky;
    top: 0;
}