-
    const SHARED_SPELLS = [
        'Detect Evil',
        'Detect Magic',
        'Light',
        'Protection From Evil',
        'Protection From Evil, 10\' Radius',
        'Fire Trap',
        'Hold Person',
        'Know Alignment',
        'Camouflage',
        'Seeking',
        'Animate Dead',
        'Continual Light',
        'Dispel Magic',
        'Feign Death',
        'Locate Object',
        'Plant Growth',
        'Pyrotechnics',
        'Remove Curse',
        'Stone Shape',
        'Water Breathing',
        'Etherealness',
        'Lower Water',
        'Tongues',
        'Animal Growth',
        'Transmute Rock to Mud',
        'True Seeing',
        'Wall of Fire',
        'Conjure Animals',
        'Part Water',
        'Transmute Water to Dust',
        'Astral Spell',
        'Confusion',
        'Control Weather',
        'Gate',
        'Succor',
        'Symbol',
    ]
div(class="wrapper")
    div(class="content")
        each spell, _ in SHARED_SPELLS
            - let id = `shared-spell-${spell}`
            p(id=id)
                span(class='title') Shared Spell
                br
                span(class="entry") #{spell}
                -
                    let attrs = [gameSystems.SECOND_EDITION, attributes.SPELL];
                    if (spell === 'Dispel Magic') {
                        attrs.push(attributes.DISPEL_MAGIC);
                    }
                +attributes({attributes: attrs}, sources.SHARED_SPELLS)